export(redisAPPEND)
export(redisAUTH)
export(redisBGREWRITEAOF)
export(redisBGSAVE)
export(redisBITCOUNT)
export(redisBITOP)
export(redisBLPOP)
export(redisBRPOP)
export(redisBRPOPLPUSH)
export(redisCLIENT_GETNAME)
export(redisCLIENT_KILL)
export(redisCLIENT_LIST)
export(redisCLIENT_SETNAME)
export(redisCommand)
export(redisCONFIG_GET)
export(redisCONFIG_RESETSTAT)
export(redisCONFIG_SET)
export(redisConnect)
export(redisDBSIZE)
export(redisDEBUG_OBJECT)
export(redisDEBUG_SEGFAULT)
export(redisDECR)
export(redisDECRBY)
export(redisDEL)
export(redisDISCARD)
export(redisDUMP)
export(redisECHO)
export(redisEVAL)
export(redisEVALSHA)
export(redisEXEC)
export(redisEXISTS)
export(redisEXPIRE)
export(redisEXPIREAT)
export(redisFLUSHALL)
export(redisFLUSHDB)
export(redisGET)
export(redisGETBIT)
export(redisGETRANGE)
export(redisGETSET)
export(redisHDEL)
export(redisHEXISTS)
export(redisHGET)
export(redisHGETALL)
export(redisHINCRBY)
export(redisHINCRBYFLOAT)
export(redisHKEYS)
export(redisHLEN)
export(redisHMGET)
export(redisHMSET)
export(redisHSET)
export(redisHSETNX)
export(redisHVALS)
export(redisINCR)
export(redisINCRBY)
export(redisINCRBYFLOAT)
export(redisINFO)
export(redisKEYS)
export(redisLASTSAVE)
export(redisLINDEX)
export(redisLINSERT)
export(redisLLEN)
export(redisLPOP)
export(redisLPUSH)
export(redisLPUSHX)
export(redisLRANGE)
export(redisLREM)
export(redisLSET)
export(redisLTRIM)
export(redisMGET)
export(redisMIGRATE)
export(redisMONITOR)
export(redisMOVE)
export(redisMSET)
export(redisMSETNX)
export(redisMULTI)
export(redisOBJECT)
export(redisPERSIST)
export(redisPEXPIRE)
export(redisPEXPIREAT)
export(redisPING)
export(redisPSETEX)
export(redisPSUBSCRIBE)
export(redisPTTL)
export(redisPUBLISH)
export(redisPUBSUB)
export(redisPUNSUBSCRIBE)
export(redisQUIT)
export(redisRANDOMKEY)
export(redisRENAME)
export(redisRENAMENX)
export(redisRESTORE)
export(redisRPOP)
export(redisRPOPLPUSH)
export(redisRPUSH)
export(redisRPUSHX)
export(redisSADD)
export(redisSAVE)
export(redisSCARD)
export(redisSCRIPT_EXISTS)
export(redisSCRIPT_FLUSH)
export(redisSCRIPT_KILL)
export(redisSCRIPT_LOAD)
export(redisSDIFF)
export(redisSDIFFSTORE)
export(redisSELECT)
export(redisSET)
export(redisSETBIT)
export(redisSETEX)
export(redisSETNX)
export(redisSETRANGE)
export(redisSHUTDOWN)
export(redisSINTER)
export(redisSINTERSTORE)
export(redisSISMEMBER)
export(redisSLAVEOF)
export(redisSLOWLOG)
export(redisSMEMBERS)
export(redisSMOVE)
export(redisSORT)
export(redisSPOP)
export(redisSRANDMEMBER)
export(redisSREM)
export(redisSTRLEN)
export(redisSUBSCRIBE)
export(redisSUNION)
export(redisSUNIONSTORE)
export(redisSYNC)
export(redisTIME)
export(redisTTL)
export(redisTYPE)
export(redisUNSUBSCRIBE)
export(redisUNWATCH)
export(redisWATCH)
export(redisZADD)
export(redisZCARD)
export(redisZCOUNT)
export(redisZINCRBY)
export(redisZINTERSTORE)
export(redisZRANGE)
export(redisZRANGEBYSCORE)
export(redisZRANK)
export(redisZREM)
export(redisZREMRANGEBYRANK)
export(redisZREMRANGEBYSCORE)
export(redisZREVRANGE)
export(redisZREVRANGEBYSCORE)
export(redisZREVRANK)
export(redisZSCORE)
export(redisZUNIONSTORE)
useDynLib(Rhiredis)
