useDynLib(RcppRedis, .registration=TRUE)	# this package's shared library
import(methods,Rcpp,RApiSerialize)		# packages we require
exportPattern("^[[:alpha:]]+")          	# export all identifiers starting with letters
