import(Rcpp,methods)                    # packages we require
useDynLib(rhiredis)                     # this package's shared library
exportPattern("^[[:alpha:]]+")          # export all identifiers starting with letters
